<nav>
	<!-- <div class="home-btn"></div> -->
	<a href="#/" style="float: left; display: block; font-size: 42px; color: green;">Home</a>
	<ul>
		<% unless user_signed_in? %>
			<li><a href="#/sign_in" class="nav-btn">Sign in</a></li>
			<li><a href="#/gas" class="nav-btn">Gas</a></li>
		<% else %>
			<li><%= link_to "Gas", gas_stations_path %></li>
			<li class="dropdown-btn">
				<%= link_to "#{current_user.email}&darr;".html_safe, '#', class: "drop-link" %>
				<ul>
					<li><%= link_to "Account", edit_user_registration_path %></li>
					<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
				</ul>
			</li>
		<% end %>
	</ul>
</nav>

<div class="nav-filler"></div>