html {
	/*background-color: #282828;*/
	font-family: 'Questrial', sans-serif;
	overflow-x: hidden;
}

body {
	margin: 0;
	height: 1000px;
}

a {
	text-decoration: none;
}

.shopping-trolley {
	display: block;
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

.home-btn {
	float: left;
	width: 64px;
	height: 64px;
	margin: 0;
	background-image: url(home.png);
	background-size: 100% 100%;
	-webkit-transition: background-image 0.25s ease-in-out;
	-moz-transition: background-image 0.25s ease-in-out;
	-ms-transition: background-image 0.25s ease-in-out;
	-o-transition: background-image 0.25s ease-in-out;
	transition: background-image 0.25s ease-in-out;
}

.home-btn:hover {
	background-image: url(home-hover.png);
}

.txt-ctr {
	text-align: center;
}

.font-48 {
	font-size: 48px;
}

.font-64 {
	font-size: 64px;
}

nav {
	height: 64px;
	position: fixed;
	float: left;
	background-color: rgba(0, 0, 0, 0.85);
	/*background-color: #303030;*/
	border: 1px solid transparent;
	display: inline-block;
	width: 100%;
	z-index: 10;
}

nav ul {
	display: block;
	float: right;
	margin: 0 auto;
	padding: 0px;
	list-style-type: none;
}

nav ul li {
	display: inline;
	padding-left: 64px;
	padding-right: 64px;
}

nav ul li a {
	color: #B0B0B0;
	font-size: 28px;
	transition-property: color;
	transition-duration: .25s;
	transition-delay: 0s;
}

nav ul li a:hover {
	color: #FFFFFF;
}

.nav-btn {
	position: absolute;
	display: block;
}

.nav-filler {
	width: 840px;
	/*height: 49px;*/
	height: 64px;
}

.dropdown-btn {
	display: block;
	height: 64px;
}

.dropdown-btn ul {
	position: absolute;
	top: -128px;
	right: 0;
	opacity: 0;
	transition-property: all;
	transition-duration: .4s;
	transition-delay: 0s;
}

.dropdown-btn:hover ul{
	top: 65px;
	opacity: 1;
}

.dropdown-btn ul li {
	display: block;
	background-color: rgba(0, 0, 0, 0.85);
	/*background-color: #303030;*/
	padding: 8px 0 8px 32px;
	width: 140px;
	border-top: 1px solid #B0B0B0;
}

.dropdown-btn .drop-link {
	display: block;
	padding-top: 14px;
	height: 50px;
	width: 300px;
}

.form {
	padding: 8px;
	background-color: rgba(102, 255, 153, 0.4);
	width: 520px;
	margin: 0 auto;

	label {
		font-size: 32px;
	}

	div:hover {
		input {
			box-shadow: 0 0 12px rgba(102, 255, 153, 1);
		}
	}

	.input {
		margin: 8px 0 8px 0;
		font-size: 24px;
		width: 512px;
	}

	input:focus {
		box-shadow: 0 0 12px rgba(102, 255, 153, 1);
	}
}
